.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}
