.container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.img-container {
  position: relative;
}

.loading {
  margin: 0px 10px; 
}