* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.container-Cards {
  background-image: url(https://www.google.com.ar/url?sa=i&url=https%3A%2F%2Fwallpaperforu.com%2Fpokemon-hd-wallpaper%2F&psig=AOvVaw3IlTBVJ8SMRUfSOP9EEmyX&ust=1702659843537000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCICr-_izj4MDFQAAAAAdAAAAABAI); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-x: hidden;
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  /* min-height: 90.2vh;  */
}

.cards {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  width: fit-content;
}

.card {
  z-index: 0;
  border: 1px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(8, 8, 6);
}

@media (min-width: 1070px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media (min-width: 1300px) {
  .cards {
    grid-template-columns: repeat(3, 1fr); 
  }
}
@media (min-width: 1600px) {
  .cards {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (min-width: 2000px) {
  .cards {
    grid-template-columns: repeat(6, 1fr); 
  }
}


.pagination {
  flex-direction: row;
  display: inline-block; 
  vertical-align: top; 
  
}








