

 .container{
    width: 100%;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
  } 
  

  
   .form {
    display: flex;
    flex-direction: column;
  } 
  
  
  
  .typesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
   

  
   .formContainer {
    background-color: rgba(247, 243, 243, 0.114);
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin: auto;
    z-index: 1001; /* Un valor superior al del overlay */
    position: relative; /* Añade esta línea */
  } 
  
  .formArticle {
    text-align: center;
    color: white;
    background: transparent; /* Añade esta línea */
  }
  
 
  .formLabel {
    margin-top: -7px;
  }
  
  
  button {
    margin-top: 10px;
    
  padding: 1px 2px;
  background-color: orange;
  color: brown;
  border: 3px solid brown;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  }
  
  button:hover {
    background-color: #3f3f3f;
  }
  
  .link {
    margin-top: 15px;
  }
  
  .link a {
    text-decoration: none;
    color: #4caf50;
  }
  
  .link a:hover {
    color: #45a049;
  }

  .home {
    color: white;
  }

  .invalid {
    border: 1px solid rgb(157, 0, 0);
  }
  
  .error-message {
    color: rgb(149, 3, 3);
    margin-top: 5px;
    font-size: 14px;
  }

  