.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.buttonContainer .active {
  background-color: #ddd;
  color: #808080;
  cursor: not-allowed;
}

.pageNumber {
  font-size: 16px;
  margin: 0 10px;
}

button[disabled] {
  background-color: #ddd;
  color: #808080;
  cursor: not-allowed;
}