* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.containerLanding {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.imgContainer {
  position: relative;
}

.imgLanding {
  width: 100%; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Para mantener la proporción original de la imagen */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}

.buttonLanding {
  position: absolute;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 60px;
  background-color: orange;
  color: brown;
  border: 3px solid brown;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.buttonLanding:hover {
  transform: scale(1.2);
}