* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.containerLanding {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.imgContainer {
  position: relative;
}

.imgLanding {
  width: 100%;
  height: auto;
  display: block;
}

.buttonLanding {
  position: absolute;
  top: 50px; /* Cambia bottom a top para posicionar en la parte superior */
  right: 20px; /* Ajusta la distancia desde la parte derecha según sea necesario */
  padding: 10px 30px;
  background-color: orange;
  color: brown;
  border: 3px solid brown;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.buttonLanding:hover {
  transform: scale(1.2);
}