.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
  margin-bottom: 100px;
  z-index: 2;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
}

.navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.logo {
  width: 125px; 
  height: auto;
  margin-right: 100px; 
}

/* Para hacer el navbar un poco más ancho */
@media (min-width: 768px) {
  .navbar {
    padding: 5px 40px; 
  }
}

.buttonCreate {
  margin-top: 30px;
    
  padding: 1px 2px;
  background-color: orange;
  color: brown;
  border: 3px solid brown;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: -5px;
}